In [26]:
import math
import re
import random
from datetime import datetime, date, time, timedelta
from dateutil.relativedelta import relativedelta

import requests
import xml.etree.ElementTree as ET
import xml.dom.minidom
from bs4 import BeautifulSoup
from selenium import webdriver

from IPython.display import Image
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

from pykrx import stock
import FinanceDataReader as fdr
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
import FinanceDataReader as fdr
import finterstellar as fs


import talib.abstract as ta
from talib import MA_Type

import statistics as ss

import statsmodels.api as sm # 원래 여깄었는데
from statsmodels.regression.linear_model import OLS # 여기에도 추가됨
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

import scipy as sp
from scipy import stats
from scipy.stats import skew, kurtosis
from scipy.cluster.hierarchy import linkage, dendrogram, cut_tree, fcluster

# from imblearn.under_sampling import TomekLinks

# from sklearn.datasets import load_iris, load_wine, load_diabetes#, load_boston
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler, RobustScaler, Binarizer
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, StratifiedKFold, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.linear_model import LogisticRegression # 이름은 회귀인데 시그모이드함수를 이용한 분류모델임 분류분류분류
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
# from sklearn.ensemble import AdaBoostRegressor, VotingRegressor, RandomForestRegressor
# from sklearn.ensemble import VotingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.svm import SVR, SVC
from sklearn.cluster import KMeans, DBSCAN#, hierarchical
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import mean_squared_error, mean_squared_log_error, r2_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, f1_score, recall_score
from sklearn.metrics import precision_score, precision_recall_curve#, plot_precision_recall_curve
from sklearn.metrics import roc_auc_score, roc_curve#, plot_roc_curve
from sklearn.metrics import RocCurveDisplay
from sklearn.metrics import silhouette_samples, silhouette_score

from xgboost import XGBRegressor, XGBClassifier
from lightgbm import LGBMRegressor, LGBMClassifier
# from catboost import CatBoostRegressor, CatBoostClassifier     # pip install catboost

import optuna

import tensorflow as tf
import keras

from keras import backend as K

from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv2D, MaxPool2D, Flatten
from keras.preprocessing.image import ImageDataGenerator

from keras import activations as act
from keras import optimizers as opt
from keras import losses as loss
from keras import metrics

from keras.initializers import GlorotNormal  #Xavier

SEED = 0
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)
keras.utils.set_random_seed(SEED)

import warnings
warnings.filterwarnings(action='ignore')

import bt

from sqlalchemy import create_engine, MetaData, text, Float, Table, Column, Integer, String
from sqlalchemy.engine import reflection
import cx_Oracle

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import plotly.graph_objects as go
from plotly.subplots import make_subplots

#-------------------- 차트 관련 속성 (plotly 화 - 분석시에만 키기) -----------
pd.options.plotting.backend = "plotly"


#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

pd.set_option('max_colwidth', None)
plt.rcParams['font.family']

['Malgun Gothic']

# 공통 함수

In [2]:
# df = pd.read_excel("./datasets/EEM.xlsx", sheet_name="Historical", engine='openpyxl' ,parse_dates=["As Of"])
# df = df[["As Of", "NAV per Share"]]
# df.columns=["날짜","종가"]
# df = df.sort_values(["날짜"],ascending=True)
# df = df.set_index("날짜")
# df

In [3]:
def to_db(df, name='testDB'): # 데이터프레임, DB 테이블명
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    con = engine.connect()
    try:
        query = f"""select * from {name}"""
        pd.read_sql_query(text(query), con=con)
        print('이미있음 ㅎㅎ')
        
    except:
        obj_cols = df.select_dtypes(include=[float]).columns.values.tolist()
        df.to_sql(name=name, con=engine, dtype={c: Float for c in obj_cols})
        # 메타데이터 한 줄씩 추가
        print('잘들어감 ㅎㅎ')
        
    con.close()
    engine.dispose()

In [4]:
def to_df(table_name_list=['TLT'], rule=''):
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    con = engine.connect()
    df = pd.DataFrame()
    
    for table_name in table_name_list:
        query = f"""select * from {table_name}"""
        temp = pd.read_sql_query(text(query), con=con)
        temp = temp.drop_duplicates(temp.columns[0], keep='first')
        temp = temp.set_index(temp.columns[0])
        temp.index.name = ''
        temp.columns = [table_name]
        
        if rule!='':
            temp = temp.resample(rule=rule).mean()
        
        df = pd.concat([df, temp], axis=1)
        
    con.close()
    engine.dispose()
    
    return df

# DAA전략

* https://ecop.tistory.com/entry/DAA

* 공격자산 : SPY(S&P500), IWM(러셀 2000), QQQ(나스닥), VGK(유럽 주식), EWJ(일본 주식), VWO(개발도상국 주식), VNQ(미국 리츠), GSG(원자재), GLD(금), TLT(미국 장기채), HYG(하이일드 채권), LQD(회사채)

* 수비자산 : SHV(미국 초단기국채), IEF(미국 중기국채), UST(미국 중기채 레버리지)

* 카나리아 자산군 : VWO(개발도상국 주식), BND(미국 총채권)

* 카나리아 자산군 두가지의 (모멘텀 조정수익 총합이) 양수(+)일 때, 공격자산 중 (모멘텀 조정수익 총합이)가장 높은 순으로 2개를 각각 50%의 비중으로 구매.

* 카나리아 자산군 두가지중 (모멘텀 조정수익 총합이)하나라도 음수(-)이면 수비자산 중 (모멘텀 조정수익 총합이)가장 높은 1개를 구매.

In [5]:
공격_자산 = ["SPY", "IWM", "QQQ", "VGK", "EWJ", "VWO", "VNQ", "GSG", "GLD", "TLT", "HYG", "LQD"]

수비_자산 = ["SHV", "IEF", "UST"]

카나리아_자산군 = ["VWO", "BND"]

In [6]:
df_attack = to_df(table_name_list=공격_자산, rule='')

In [7]:
df_attack=df_attack.dropna()
print(len(df_attack))
df_attack.head(5)

2527

,SPY,IWM,QQQ,VGK,EWJ,VWO,VNQ,GSG,GLD,TLT,HYG,LQD
,,,,,,,,,,,,
2013-05-10,163.41,96.83,72.75,52.33,46.443552,44.27,76.10,31.580635,139.60,118.75,95.649761,120.250756
2013-05-13,163.54,96.76,72.84,52.05,47.340724,43.87,76.46,31.506482,138.43,117.84,95.488442,119.998158
2013-05-14,165.23,98.00,73.22,52.21,47.110128,44.08,76.74,31.402868,137.81,116.56,95.293758,119.889741
2013-05-15,166.12,98.20,73.37,52.36,48.008380,44.05,77.50,31.360685,134.63,117.34,95.198919,119.834776
2013-05-16,165.34,97.95,73.29,52.13,47.973932,43.87,77.10,31.526890,134.09,118.56,95.205990,120.506849

In [8]:
df_depend = to_df(table_name_list=수비_자산, rule='')

In [9]:
df_depend=df_depend.dropna()
print(len(df_depend))
df_depend.head(5)

3325

               SHV        IEF    UST

2010-01-25  110.22  90.403298  35.45
2010-01-26  110.22  90.429202  35.61
2010-01-27  110.18  90.342554  35.44
2010-01-28  110.18  90.295635  35.44
2010-01-29  110.22  90.617788  35.66

In [10]:
df_bird   = to_df(table_name_list=카나리아_자산군, rule='')

In [11]:
df = pd.concat([df_attack,df_depend,df_bird["BND"]],axis=1)
df

,SPY,IWM,QQQ,VGK,EWJ,VWO,VNQ,GSG,GLD,TLT,HYG,LQD,SHV,IEF,UST,BND
,,,,,,,,,,,,,,,,
2005-03-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.320000
2023-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.800003
2023-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.040001
2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.050003
2023-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.639999

In [12]:
df = df.dropna()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2525 entries, 2013-05-10 to 2023-05-23
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SPY     2525 non-null   float64
 1   IWM     2525 non-null   float64
 2   QQQ     2525 non-null   float64
 3   VGK     2525 non-null   float64
 4   EWJ     2525 non-null   float64
 5   VWO     2525 non-null   float64
 6   VNQ     2525 non-null   float64
 7   GSG     2525 non-null   float64
 8   GLD     2525 non-null   float64
 9   TLT     2525 non-null   float64
 10  HYG     2525 non-null   float64
 11  LQD     2525 non-null   float64
 12  SHV     2525 non-null   float64
 13  IEF     2525 non-null   float64
 14  UST     2525 non-null   float64
 15  BND     2525 non-null   float64
dtypes: float64(16)
memory usage: 335.4 KB

In [14]:
df

,SPY,IWM,QQQ,VGK,EWJ,VWO,VNQ,GSG,GLD,TLT,HYG,LQD,SHV,IEF,UST,BND
,,,,,,,,,,,,,,,,
2013-05-10,163.41,96.83,72.75,52.33,46.443552,44.27,76.10,31.580635,139.60,118.75,95.649761,120.250756,110.25,107.243065,57.12,83.430000
2013-05-13,163.54,96.76,72.84,52.05,47.340724,43.87,76.46,31.506482,138.43,117.84,95.488442,119.998158,110.25,107.107697,56.87,83.339996
2013-05-14,165.23,98.00,73.22,52.21,47.110128,44.08,76.74,31.402868,137.81,116.56,95.293758,119.889741,110.25,106.851327,56.46,83.180000
2013-05-15,166.12,98.20,73.37,52.36,48.008380,44.05,77.50,31.360685,134.63,117.34,95.198919,119.834776,110.25,106.951346,56.72,83.279999
2013-05-16,165.34,97.95,73.29,52.13,47.973932,43.87,77.10,31.526890,134.09,118.56,95.205990,120.506849,110.24,107.574860,57.26,83.400002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-17,415.23,176.12,331.12,62.63,60.723899,40.16,80.92,19.414271,184.23,102.58,74.118476,107.045519,110.26,98.548648,49.14,73.169998
2023-05-18,419.23,177.19,337.27,62.51,60.808112,39.91,80.53,19.264439,181.84,101.82,73.964455,106.559927,110.29,97.914128,48.59,72.870003
2023-05-19,418.62,176.11,336.51,62.97,60.837749,39.89,80.40,19.214051,183.64,101.10,74.036222,106.409272,110.29,97.553201,48.12,72.669998
2023-05-22,418.79,178.26,337.64,62.89,61.145063,40.15,80.89,19.251552,183.21,100.74,74.204854,106.430666,110.29,97.421491,47.93,72.650002
2023-05-23,414.09,177.42,333.36,61.97,60.223186,39.55,80.13,19.326464,183.43,101.03,74.064954,106.620210,110.31,97.567092,48.08,72.699997

#  모멘텀 조정수익 총합 수익률

In [15]:
def momentom_rate(df , col):
    w = 12
    res_list=[]
    res2_list=[]
    for i in [1,3,6,12]:
        pct_cg = df[col].pct_change(i*21)*100
        res = w/i*(np.round(pct_cg,4))
        res_list.append(res)
    for k in range(len(res_list[0])):
        res2 = res_list[0][k]+res_list[1][k]+res_list[2][k]+res_list[3][k]
        res2_list.append(np.round(res2,4))
    df[col+"_pc"] = res2_list
    df = df.dropna()
    return df

In [16]:
col_list = ['SPY', 'IWM', 'QQQ', 'VGK', 'EWJ', 'VWO', 'VNQ', 'GSG', 'GLD', 'TLT', 'HYG', 'LQD', 'SHV', 'IEF', 'UST', 'SHV', 'IEF', 'UST', 'SHV', 'IEF', 'UST']
print(col_list)

['SPY', 'IWM', 'QQQ', 'VGK', 'EWJ', 'VWO', 'VNQ', 'GSG', 'GLD', 'TLT', 'HYG', 'LQD', 'SHV', 'IEF', 'UST', 'SHV', 'IEF', 'UST', 'SHV', 'IEF', 'UST']

In [17]:
for col in col_list:
    momentom_rate(df , col)

In [18]:
# 공격_자산 = ["SPY", "IWM", "QQQ", "VGK", "EWJ", "VWO", "VNQ", "GSG", "GLD", "TLT", "HYG", "LQD"]

# 수비_자산 = ["SHV", "IEF", "UST"]

# 카나리아_자산군 = ["VWO", "BND"]

In [19]:
len(공격_자산) , len(수비_자산)

(12, 3)

In [20]:
df = df.dropna()
df

,SPY,IWM,QQQ,VGK,EWJ,VWO,VNQ,GSG,GLD,TLT,HYG,LQD,SHV,IEF,UST,BND,SPY_pc,IWM_pc,QQQ_pc,VGK_pc,EWJ_pc,VWO_pc,VNQ_pc,GSG_pc,GLD_pc,TLT_pc,HYG_pc,LQD_pc,SHV_pc,IEF_pc,UST_pc
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-05-12,189.78,112.53,88.23,60.78,44.215356,42.01,74.45,33.100295,124.94,110.79,94.195528,117.812441,110.26,102.451049,52.66,81.650002,98.1971,37.4782,86.6116,100.2299,-26.7902,64.6932,112.8392,26.1172,-25.4198,26.6122,8.0872,11.9501,-0.0093,-2.6262,-0.2505
2014-05-13,189.96,111.43,88.29,60.64,44.987788,42.19,73.97,33.283154,124.60,111.75,94.287971,118.261398,110.27,102.755198,53.04,81.800003,103.8533,28.1326,95.0317,97.8174,25.4548,66.0591,108.3424,35.7539,-30.7320,41.8528,12.3360,22.2977,0.1631,5.3681,16.2907
2014-05-14,189.06,109.62,87.83,60.56,45.345184,42.47,74.00,33.410697,125.81,112.96,94.361612,118.898993,110.27,103.323769,53.53,82.010002,83.1655,-9.7621,73.8316,88.1983,38.9870,82.1079,100.8547,30.2410,-20.2860,70.1763,12.4798,33.3690,0.2905,19.2844,41.8675
2014-05-15,187.40,108.88,87.14,60.30,45.256400,42.09,73.96,33.253391,124.77,113.86,94.330904,119.071164,110.26,103.648680,53.91,82.160004,55.0508,-32.3394,50.7757,83.1760,30.3139,83.8117,83.5529,21.5285,-12.7152,74.0957,11.8364,33.5156,-0.0455,23.0318,47.4468
2014-05-16,188.05,109.57,87.71,60.34,44.590336,42.61,74.64,33.316659,124.50,113.54,94.305386,119.036917,110.27,103.501130,53.71,82.160004,45.7813,-35.3992,44.1095,68.0555,-19.0150,89.7065,91.2047,19.4718,-22.7433,64.9667,11.1474,32.5874,0.1722,20.7181,44.2576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-17,415.23,176.12,331.12,62.63,60.723899,40.16,80.92,19.414271,184.23,102.58,74.118476,107.045519,110.26,98.548648,49.14,73.169998,18.1265,-60.5573,117.5915,38.0111,95.8332,-24.1763,-92.7985,-155.9753,49.7432,-21.8457,-19.8866,-19.6608,1.0371,12.1022,12.3484
2023-05-18,419.23,177.19,337.27,62.51,60.808112,39.91,80.53,19.264439,181.84,101.82,73.964455,106.559927,110.29,97.914128,48.59,72.870003,38.5583,-53.1722,157.9304,35.7635,103.8175,-29.5097,-108.0512,-152.1568,30.3257,-31.1998,-19.5670,-23.5916,1.2178,2.8666,-0.8504
2023-05-19,418.62,176.11,336.51,62.97,60.837749,39.89,80.40,19.214051,183.64,101.10,74.036222,106.409272,110.29,97.553201,48.12,72.669998,49.3416,-52.4164,175.0730,53.1147,105.3765,-20.4881,-93.7993,-129.9560,43.9415,-63.5696,-13.5148,-32.2067,0.5114,-13.6914,-36.8600
2023-05-22,418.79,178.26,337.64,62.89,61.145063,40.15,80.89,19.251552,183.21,100.74,74.204854,106.430666,110.29,97.421491,47.93,72.650002,58.9145,-18.5490,192.7285,45.6484,116.3538,5.0501,-73.8133,-125.1119,52.8510,-53.8863,-6.2831,-23.7074,0.3749,-8.2900,-28.7193
2023-05-23,414.09,177.42,333.36,61.97,60.223186,39.55,80.13,19.326464,183.43,101.03,74.064954,106.620210,110.31,97.567092,48.08,72.699997,35.2508,-28.6228,168.8523,13.5262,88.3788,-19.1730,-86.1272,-117.1354,55.4890,-62.9278,-15.0581,-28.4662,0.4750,-11.6038,-34.0616

# 매수 신호

In [21]:
# 공격 : ['SPY_pc', 'IWM_pc', 'QQQ_pc','VGK_pc', 'EWJ_pc', 'VWO_pc', 'VNQ_pc', 'GSG_pc', 'GLD_pc', 'TLT_pc','HYG_pc', 'LQD_pc']
# 수비 : ['SHV_pc', 'IEF_pc', 'UST_pc']
# 기준 : ['VWO_pc', 'BND_pc']

In [22]:
# 원본

# def signal_(df):
#     pc_col_list = []

#     for i in range(len(df)):
#         if (df['VWO_pc'][i] > 0)&(df['BND_pc'][i] > 0):
#             pc_col_list.append("몰루")
            
            
#         if (df['VWO_pc'][i] * df['BND_pc'][i] < 0):

#             list_a = df[['SPY_pc', 'IWM_pc', 'QQQ_pc','VGK_pc', 'EWJ_pc', 'VWO_pc', 'VNQ_pc', 'GSG_pc', 'GLD_pc', 'TLT_pc','HYG_pc', 'LQD_pc']].iloc[i]
#             list_a = list_a.to_list()
#             for _ in range(0,6):
#                 m1 = max(list_a)
#                 a1 = [k for k,v in enumerate(list_a) if v==m1]
#                 list_a.remove(m1)
#                 m2 = max(list_a)
#                 a2 = [k for k,v in enumerate(list_a) if v==m2]
#                 b = df.columns[a1[0]],df.columns[a2[0]]
#                 pc_col_list.append(b)

#         else :

#             list_a = df[['SHV_pc', 'IEF_pc', 'UST_pc']].iloc[i]
#             m = max(list_a)
#             a = [k for k,v in enumerate(list_a) if v==m]
#             b = df.columns[a[0]+12]            
#             pc_col_list.append(b)
#     return pc_col_list

In [23]:
def signal_(df):
    pc_col_list = []

    for i in range(len(df)):
        if (df['VWO_pc'][i] > 0)&(df['BND_pc'][i] > 0):
            
            list_a = df[['SPY_pc', 'IWM_pc', 'QQQ_pc','VGK_pc', 'EWJ_pc', 'VWO_pc', 'VNQ_pc', 'GSG_pc', 'GLD_pc', 'TLT_pc','HYG_pc', 'LQD_pc']].iloc[i]
            list_a = list_a.to_list()
            A_list = []
            for _ in range(0,6):
                m = max(list_a)
                a = [k for k,v in enumerate(list_a) if v==m]
                list_a.remove(m)
                A_list.append(df.columns[a[0]])                
            pc_col_list.append(A_list)
            
        elif (df['VWO_pc'][i] * df['BND_pc'][i] < 0):

            list_a = df[['SPY_pc', 'IWM_pc', 'QQQ_pc','VGK_pc', 'EWJ_pc', 'VWO_pc', 'VNQ_pc', 'GSG_pc', 'GLD_pc', 'TLT_pc','HYG_pc', 'LQD_pc']].iloc[i]
            list_a = list_a.to_list()
            m_list = []
            for _ in range(0,3):
                m = max(list_a)
                a = [k for k,v in enumerate(list_a) if v==m]
                list_a.remove(m)
                m_list.append(df.columns[a[0]])  
            list_a2 = df[['SHV_pc', 'IEF_pc', 'UST_pc']].iloc[i]
            m2 = max(list_a2)
            a2 = [k for k,v in enumerate(list_a2) if v==m2]
            b2 = df.columns[a2[0]+12]            
            m_list.append(b2)
            
            pc_col_list.append(m_list)

        else :

            list_a = df[['SHV_pc', 'IEF_pc', 'UST_pc']].iloc[i]
            m = max(list_a)
            a = [k for k,v in enumerate(list_a) if v==m]
            b = df.columns[a[0]+12]            
            pc_col_list.append(b)
    return pc_col_list

In [24]:
# signal_(df)

In [25]:
len(df), len(signal_(df))

KeyError: 'BND_pc'

In [ ]:
df['signal'] = signal_(df)
df

In [ ]:
len ( df['signal'][0] )

In [ ]:
df["signal"][0][0]

In [ ]:
len(df["signal"][0])

In [ ]:
df_cp = df.copy()
df_cp = df_cp.reset_index()

In [ ]:
df_cp.loc[0,df["signal"][0][0]] , df_cp.loc[0,df["signal"][0][5]]

In [ ]:
len(df["signal"][25])

In [ ]:
def signal_2(df):
    df2 = df.reset_index()
    df2=df2[[""]]
    df2[['SPY', 'IWM', 'QQQ', 'VGK', 'EWJ', 'VWO', 'VNQ', 'GSG', 'GLD', 'TLT', 'HYG', 'LQD', 'SHV', 'IEF', 'UST', 'SHV', 'IEF', 'UST', 'SHV', 'IEF', 'UST']] = 0 
    # df2 = df2.set_index("")
    
    
    for i in range (len(df)):
        
        if len(df["signal"][i]) == 6: 
            df2.loc[i,df["signal"][i][0]] = True
            df2.loc[i,df["signal"][i][1]] = True
            df2.loc[i,df["signal"][i][2]] = True   
            df2.loc[i,df["signal"][i][3]] = True
            df2.loc[i,df["signal"][i][4]] = True
            df2.loc[i,df["signal"][i][5]] = True            
            
# 수비자산은 50%로 사야한다...

        elif len(df["signal"][i]) == 4: 
            df2.loc[i,df["signal"][i][0]] = True
            df2.loc[i,df["signal"][i][1]] = True
            df2.loc[i,df["signal"][i][2]] = True  
            df2.loc[i,df["signal"][i][3]] = True     

        else : 
            df2.loc[i,df["signal"][i]] = True
    
    
    df2 = df2.set_index("")
    df2 = df2.replace([0],["False"])
    # df2 = df2.drop("NaN",axis=1)
    return df2

In [ ]:
df_stat = signal_2(df)
df_stat

In [ ]:
RMTEST = bt.Strategy('DAA',
    algos = [bt.algos.RunMonthly(run_on_first_date = False, run_on_end_of_period=True, run_on_last_date=True),
                # bt.algos.PrintInfo('{name}:{now}. Value:{_value:0.0f}, Price:{_price:0.4f}'),
                # bt.algos.SelectAll(),
                bt.algos.SelectWhere(df_stat),
                bt.algos.WeighEqually(),
                # bt.algos.PrintTempData(),
                bt.algos.Rebalance()
            ],
)

t = bt.Backtest(RMTEST, df[['SPY', 'IWM', 'QQQ', 'VGK', 'EWJ', 'VWO', 'VNQ', 'GSG', 'GLD', 'TLT', 'HYG', 'LQD', 'SHV', 'IEF', 'UST']])
report = bt.run(t)
report.prices.plot()

In [ ]:
df_stat.resample("M").last().loc["2021-01-31":]

In [ ]:
df["signal"].resample("M").last()

In [ ]:
df["signal"].resample("M").last().values

In [ ]:
df.resample("M").last()

In [ ]:
report.display()

# QS

In [ ]:
# ! pip install QuantStats

In [ ]:
# import quantstats as qs

# pd.options.plotting.backend = "matplotlib"
# qs.reports.html(report.prices.squeeze()) # 안에 메소드경로랑 어쩌구 해서 잘 입맛대로 해보시길....
# pd.options.plotting.backend = "plotly"