In [23]:
import math
import re
import random
from datetime import datetime, date, time, timedelta
from dateutil.relativedelta import relativedelta

import requests
import xml.etree.ElementTree as ET
import xml.dom.minidom
from bs4 import BeautifulSoup
from selenium import webdriver

from IPython.display import Image
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

from pykrx import stock
import FinanceDataReader as fdr
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
import FinanceDataReader as fdr
import finterstellar as fs


import talib.abstract as ta
from talib import MA_Type

import statistics as ss

import statsmodels.api as sm # 원래 여깄었는데
from statsmodels.regression.linear_model import OLS # 여기에도 추가됨
from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

import scipy as sp
from scipy import stats
from scipy.stats import skew, kurtosis
from scipy.cluster.hierarchy import linkage, dendrogram, cut_tree, fcluster

# from imblearn.under_sampling import TomekLinks

# from sklearn.datasets import load_iris, load_wine, load_diabetes#, load_boston
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler, RobustScaler, Binarizer
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, cross_val_score, cross_validate, KFold, StratifiedKFold, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.linear_model import LogisticRegression # 이름은 회귀인데 시그모이드함수를 이용한 분류모델임 분류분류분류
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
# from sklearn.ensemble import AdaBoostRegressor, VotingRegressor, RandomForestRegressor
# from sklearn.ensemble import VotingClassifier, RandomForestClassifier, ExtraTreesClassifier
from sklearn.svm import SVR, SVC
from sklearn.cluster import KMeans, DBSCAN#, hierarchical
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics import mean_squared_error, mean_squared_log_error, r2_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, f1_score, recall_score
from sklearn.metrics import precision_score, precision_recall_curve#, plot_precision_recall_curve
from sklearn.metrics import roc_auc_score, roc_curve#, plot_roc_curve
from sklearn.metrics import RocCurveDisplay
from sklearn.metrics import silhouette_samples, silhouette_score

from xgboost import XGBRegressor, XGBClassifier
from lightgbm import LGBMRegressor, LGBMClassifier
# from catboost import CatBoostRegressor, CatBoostClassifier     # pip install catboost

import optuna

import tensorflow as tf
import keras

from keras import backend as K

from keras.models import Sequential
from keras.layers import Dense, Dropout, Conv2D, MaxPool2D, Flatten
from keras.preprocessing.image import ImageDataGenerator

from keras import activations as act
from keras import optimizers as opt
from keras import losses as loss
from keras import metrics

from keras.initializers import GlorotNormal  #Xavier

SEED = 0
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)
keras.utils.set_random_seed(SEED)

import warnings
warnings.filterwarnings(action='ignore')

import bt

from sqlalchemy import create_engine, MetaData, text, Float, Table, Column, Integer, String
from sqlalchemy.engine import reflection
import cx_Oracle

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

import plotly.graph_objects as go
from plotly.subplots import make_subplots
pd.options.plotting.backend = "plotly"
#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

pd.set_option('max_colwidth', None)
plt.rcParams['font.family']

findfont: Font family ['NanumBarunGothic'] not found. Falling back to DejaVu Sans.

['Malgun Gothic']

# 공통 함수

In [32]:
def to_db(df, name='testDB'): # 데이터프레임, DB 테이블명
    # 있는지 체크
    # 있으면 삭제해
    # 없으면 만들어
    
    # 메타데이터 한 줄씩 추가
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    con = engine.connect()
    
    obj_cols = df.select_dtypes(include=[float]).columns.values.tolist()
    df.to_sql(name=name, con=engine, dtype={c: Float for c in obj_cols})
    
    con.close()
    engine.dispose()
    print('잘들어감 ㅎㅎ')

In [33]:
def to_df(table_name_list=['TLT'] ):
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    df = pd.DataFrame()
    
    for table_name in table_name_list:
        query = f"""select * from {table_name}"""
        temp = pd.read_sql_query(text(query), con=engine.connect())
        temp = temp.set_index(['날짜'])
        temp.columns = [table_name]
        
        df = pd.concat([df, temp], axis=1)
        
    engine.dispose()
    
    return df

In [5]:
def to_index(df):
    temp = df.iloc[0]
    
    return df/temp*100

In [67]:
def to_db2(df_nm, name='testDB'): # 데이터프레임, DB 테이블명
#   오라클 연동
    engine = create_engine("oracle+cx_oracle://Ai:0000@192.168.0.48:1521/XE")
    con = engine.connect()
#   데이터 테이블 확인
    src_table = name
    sql = "select table_name from user_tables where table_name='MYTABLE'".replace('MYTABLE', src_table.upper())
    len_df = pd.read_sql(sql, con)
    df = df_nm
    if len(len_df)>0:
        con.execute("TRUNCATE TABLE " + src_table)
    else: 
        obj_cols = df.select_dtypes(include=[float]).columns.values.tolist()
        df.to_sql(name=src_table, con=engine, dtype={c: Float for c in obj_cols})
    
    con.close()
    engine.dispose()
    print('잘들어감 ㅎㅎ')

In [38]:
a = [1,2,3]
b = [4,5,6]
test_df = pd.DataFrame([a,b],columns=["A","B","C"])
test_df

   A  B  C
0  1  2  3
1  4  5  6

In [70]:
to_db2(test_df,'test_table')

ObjectNotExecutableError: Not an executable object: "select table_name from user_tables where table_name='TEST_TABLE'"

In [47]:
to_db(test_df,"test_table")

잘들어감 ㅎㅎ

In [ ]:
# Oracle DB 연결
# 접속정보(connection string) : ID/PASS@CONNECTION_ALIAS
# CONNECTION_ALIAS : Oracle TNSNAMES.ORA 파일에 있는 접속정보 별칭(ALIAS)
conn_ora = cx_Oracle.connect("prep1/prep1@XE")
# DB 커서(Cursor) 선언
cur = conn_ora.cursor()
# 사용할 Oracle 소스 테이블명 지정
src_table = "d_base2_2"
# 데이터프레임(rawData)에 저장된 데이터를 Oracle 테이블(d_base2_2)에 입력하기 위한 로직
# d_base2_2 테이블 존재하는지 체크하는 함수
def table_exists(name=None, con=None):
    sql = "select table_name from user_tables where table_name='MYTABLE'".replace('MYTABLE', name.upper())
    df = pd.read_sql(sql, con)
    # 테이블이 존재하면 True, 그렇지 않으면 False 반환
    exists = True if len(df) > 0 else False
    return exists
# 테이블(d_base2_2) 생성 (테이블이 이미 존재한다면 TRUNCATE TABLE)
if table_exists(src_table, conn_ora):
    cur.execute("TRUNCATE TABLE " + src_table)
else:
    cur.execute("create table " + src_table + " ( \
               항만 varchar2(20) primary key, \
               입항선박수 number(5), \
               입항선박톤수 number(10), \
               출항선박수 number(5), \
               출항선박톤수 number(10))")

In [34]:
# to_db(df, name='testDB')

In [81]:
# teacker_list = ["AGG","EFA","LQD","EWJ","RXW","SCZ"]

In [91]:
ticker_list = ["EFA","RXW","SCZ"]

for ticker in ticker_list:
    df = pd.read_excel(f'./datasets/{ticker}.xlsx', sheet_name='Historical', engine='openpyxl', parse_dates=["As Of"])[["As Of","NAV per Share"]]
    df.columns = ['날짜','종가']
    df = df.sort_values('날짜',ascending=True)
    df = df.set_index('날짜')
    # to_db(df, ticker)
df

                   종가
날짜
2007-12-10  50.700000
2007-12-11  50.840000
2007-12-12  50.690000
2007-12-13  49.480000
2007-12-14  48.810000
...               ...
2023-05-23  59.783783
2023-05-24  58.836582
2023-05-25  58.658666
2023-05-26  58.950010
2023-05-30  58.614659

[3894 rows x 1 columns]